__pycache__/
**/datasets/*
!**/datasets/.keep
**/env/*
!**/env/.keep
!**/env/README.md
**/env_datasets/*
!**/env_datasets/README.md
**/log/*
!**/log/.keep
!**/log/README.md
*.env
*.log
*.yml
!kube-flannel.yml
!kubeadm-init.yml
!dml.yml
!run.yml
perf.txt
